__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.DS_Store
Thumbs.db
output/
output_figures/
models/detectron2_model/
*.pth
*.pt
input/example.pdf
*.log
.ipynb_checkpoints/
.vscode/
*.dockerfile
docker-compose.yml
