pdf2image==1.16.3  
Pillow==8.4.0      
easyocr==1.4.0   
clean-text==0.4.0 
spellchecker==0.6.2 
natsort==8.3.1    
doctr==0.6.0    
libretranslatepy==2.0.0  
tqdm==4.62.3      
logging==0.5.1.2   
markdown==3.3.4    
shutil==1.0        
pathlib==1.0.1    
pytesseract==0.3.8 
PyMuPDF==1.19.6  
